[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sympy = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
pandas = "*"
yt = "*"

[dev-packages]

[requires]
python_version = "3.6"
